<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bank</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.c3p0.timeout">100000</property>
        <mapping class="ua.com.alevel.model.entity.Category"/>
        <mapping class="ua.com.alevel.model.entity.Account"/>
        <mapping class="ua.com.alevel.model.entity.ExpenseCategory"/>
        <mapping class="ua.com.alevel.model.entity.IncomeCategory"/>
        <mapping class="ua.com.alevel.model.entity.Operation"/>
        <mapping class="ua.com.alevel.model.entity.User"/>
    </session-factory>

</hibernate-configuration>